.bg {
  filter: drop-shadow(3px, 4px, 2px, black);
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.my {
  display: flex;

  justify-content: flex-end;
}
/* .my div {
  margin-left: 30rem;
} */
/* Navbar css  */
.hiddenv {
  /* overflow: hidden; */
  /* transform: translateX(-500px); */
  display: none;
}
.dispnav {
  /* transform: translateX(550px); */
  display: block;
}
.hin {
  height: 100vh;
}
.active-link {
  color: rgb(200, 160, 82);
  font-weight: bold;
}
