.bg {
  filter: drop-shadow(3px, 4px, 2px, black);
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.my {
  display: flex;

  justify-content: flex-end;
}

/* Navbar css  */
.hiddenv {
  display: none;
}
.dispnav {
  display: block;
}
.hin {
  height: 100vh;
}
.active-link {
  color: rgb(200, 160, 82);
  font-weight: bold;
}
